*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 37.5px;
}
.loading{
    position: absolute;
    top: 0;
    font: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.c-cube-1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.5rem;
    margin-top: -2.13rem;
}
.c-cube__side{
    width: 1em;
    border-top: none;
    border-bottom: none;
    height: 5em;
    border: 1px solid;
    border-image: linear-gradient(#ff1224, rgba(225, 18, 36, 0)) 2 2;
    position: absolute;
    
}
.c-cube{
    transform-style: preserve-3d;
    transform: translateX(-33.5deg) rotateY(45deg);
    transform-origin: .5em .5em;
}
.c-cube__side--front{
    transform: translateZ(.5em);
}
.c-cube__side--back{
    transform: translateZ(-.5em);
}
.c-cube__side--left{
    transform: translateY(-90deg) translateZ(.5em);
}
.c-cube__side--right{
    transform: translateY(90deg) translateZ(.5em);
}
.c-cube__side--top{
    transform: translateY(90deg) translateZ(.5em);
}